/* Container utama */
.containers {
  position: relative; /* Posisi relatif untuk efek transisi */
  overflow: hidden; /* Menghindari overflow */
  color: #fff; /* Warna teks putih */
  text-align: center;
  padding: 2rem;
  min-height: 100vh; /* Tinggi minimum agar menutupi layar penuh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Lapisan transisi */
.transition-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Menutupi area */
  background-position: center; /* Memusatkan gambar */
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out; /* Transisi smooth */
  opacity: 1; /* Awalnya terlihat */
  z-index: -1; /* Di belakang konten utama */
}

.transition-layer.fade-out {
  opacity: 0; /* Menghilang saat transisi */
}

/* Heading utama */
.heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  font-family: 'Great Vibes', cursive;
  color: #DBC2AD;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 0.5s;
}

/* Subheading */
.subheading {
  font-size: 2rem;
  color: #DBC2AD; /* Warna marun */
  margin-bottom: 1.5rem;
  font-family: Cinzel;
  letter-spacing: 10px;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 1s;
}

/* Deskripsi */
.description {
  font-size: 1rem !important;
  margin-bottom: 2rem;
  font-family: Cinzel;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 1.5s;
  color: #DBC2AD;
}

/* Animasi slide */
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsif untuk mobile */
@media (max-width: 768px) {
  .containers {
    padding: 1.5rem;
  }

  .heading {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
  }

  .subheading {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
