/* Container utama */
.containers {
  color: #fff; /* Warna teks putih */
  text-align: center;
  padding: 2rem;
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.7) 90%), 
    url('/assets/aldi-5.JPG'); /* Gambar latar belakang dengan gradient transparan */
  background-size: cover; /* Menyesuaikan ukuran gambar agar menutupi area */
  background-position: center; /* Memusatkan gambar */
  background-repeat: no-repeat; /* Jangan ulangi gambar */
  min-height: 100vh; /* Tinggi minimum agar menutupi layar penuh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Heading utama */
.heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  font-family: 'Great Vibes', cursive;
  color: #DBC2AD;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 0.5s;
}

/* Subheading */
.subheading {
  font-size: 2rem;
  color: #DBC2AD; /* Warna marun */
  margin-bottom: 1.5rem;
  font-family: Cinzel;
  letter-spacing: 10px;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 1s;
}

/* Deskripsi */
.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: Cinzel;
  opacity: 0;
  animation: slideUp 2s ease-out forwards 1.5s;
  color: #DBC2AD;
}

/* Animasi slide */
@keyframes slideUp {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Responsif untuk mobile */
@media (max-width: 768px) {
  .containers {
      padding: 1.5rem;
  }

  .heading {
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
  }

  .subheading {
      font-size: 1rem;
      letter-spacing: 0.3rem;
  }

  .description {
      font-size: 1rem;
      margin-bottom: 1.5rem;
  }
}
