/* Wave SVG */
.wave-svg {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -200px;
  }

  svg {
    margin: 0;
    padding: 0;
    display: block;
}

  
  /* Container utama */
  .container-header {
    background:  #4d0d1e ;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Georgia', serif;
  }
  
  /* Title utama */
  .title-arab {
    font-size: 2rem;
    color: #DBC2AD;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Cinzel', cursive !important;
  }
  
  /* Deskripsi */
  .header-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.6;
  }
  
  /* Partner Section */
  .partner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  /* Partner Wrapper */
  .man,
  .woman {
    text-align: center;
    margin: 20px;
  }
  
  /* Partner Image */
  .partner-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #dbc2ad;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }
  
  /* Partner Name */
  .partner-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #dbc2ad;
  }
  
  /* Partner Parent */
  .partner-parent {
    font-size: 1rem;
    font-style: italic;
    color: #fff;
  }
  
  /* Responsif untuk Mobile */
  @media (max-width: 768px) {
    .partner {
      flex-direction: column;
      align-items: center;
    }
  
    .partner-img {
      width: 120px;
      height: 120px;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .header-description {
      font-size: 1rem;
    }
  }
  